<section id="footer-info">
    <div class="container">
        <div class="footer-container row">
            <div class="five columns">
                <p>
                    <strong>Pratt and Son, Inc.</strong>
                    <br />
                    Walpole, MA 02081
                    <br />
                    <a href="tel:17813264144">781.326.4144</a>
                    <br />
                    <a href="mailto:steveprattandson@gmail.com">steveprattandson@gmail.com</a>
                </p>
            </div>
            <div class="five columns">
                <p>
                    <strong>Licenses</strong>
                    <br />
                    MA HIC #100046
                    <br />
                    MA CSL #033706
                </p>
            </div>
            <div class="two columns social-media">
                <a href="https://www.facebook.com/prattroofing/" ><img src="/img/follow_facebook.png"></a>
                <a href="https://www.linkedin.com/in/steveprattandson" ><img src="/img/follow_linkedin.png"></a>
                <a href="https://twitter.com/PrattandSonMA" ><img src="/img/follow_twitter.png"></a>
            </div>
        </div>
    </div>
</section>
