<section id="site-contact">
    {% include contact_form.html %}
</section>


<section id="footer-info">
    <div class="container">
        <div class="content-section footer-container row">
            <div class="six columns">
                <p>
                    <strong>Pratt and Son, Inc.</strong>
                    <br />
                    Walpole, MA 02081
                    <br />
                    <a href="tel:17813264144">781.326.4144</a>
                    <br />
                    <a href="mailto:sales@prattandson.com">sales@prattandson.com</a>
                </p>
            </div>
            <div class="six columns">
                <p>
                    <strong>Licenses</strong>
                    <br />
                    MA HIC #100046
                    <br />
                    MA CSL #033706
                </p>
            </div>
        </div>
    </div>
</section>
