<div class="header-image" >
    <h1>Pratt and Son, Inc.</h1>
    <h2 class="subheader">The Window, Roofing, and Siding Pros</h2>
</div>
<div class="container">
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a href="/">Home</a></li>
            <li {% if page.page_name == 'roofing' %} class="active" {% endif %}><a href="/roofing">Roofing</a></li>
            <li {% if page.page_name == 'siding' %} class="active" {% endif %}><a href="/siding">Siding</a></li>
            <li {% if page.page_name == 'windows' %} class="active" {% endif %}><a href="/windows">Windows</a></li>
            <li {% if page.page_name == 'gutters' %} class="active" {% endif %}><a href="/gutters">Gutters</a></li>
            <li {% if page.page_name == 'ice-dams' %} class="active" {% endif %}><a href="/ice-dams">Ice Dams</a></li>
            <li {% if page.page_name == 'about' %} class="active" {% endif %}><a href="/about">About Us</a></li>
        </ul>
    </nav>
</div>
