<div class="header-image" >
    <h1>Pratt and Son, Inc.</h1>
    <h2 class="subheader">The Window, Roofing, and Siding Pros</h2>
</div>
<div class="container">
    <!-- <img src="img/worker.jpg" /> -->
    <!-- <h1>Pratt and Son, Inc.</h1> -->
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a href="/">Home</a></li>
            <li><a href="/roofing">Roofing</a></li>
            <li><a href="/siding">Siding</a></li>
            <li><a href="/windows">Windows</a></li>
            <li><a href="/gutters">Gutters</a></li>
            <li><a href="/ice-dams">Ice Dams</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</div>
