---
layout: page
page_name: roofing
title: Pratt and Son - Roofing Contractor
description: Pratt and Son provides quality commercial and residential roofing for property owners
location: Eastern MA
---
<section id="roofing">
    <div class="content-section">
        <h2>Roofing Contractor in {% if page.location %}{{ page.location }}{% else %}{{ layout.location }}{% endif %}</h2>
        <p>
        Roofing is one of the most important home improvements a homeowner can make. If you are getting a new roof or looking for roof replacement, we can help. We’ve been trusted by residences and businesses for a long time in Massachusetts. We’re here to stay. We’ve built our reputation with many quality roofing projects. <a href="#site-contact" >Contact us</a> today for a free roofing consultation.
        </p>
        <p><a href="/copper-roof">Click here</a> to learn more about copper and slate roofs.</p>
    </div>

    <div class="content-section">
        <h3>How We Operate</h3>
        <p>
        An average-size roof is stripped, installed, and totally cleaned up in one day to protect your home from the elements and minimize your inconvenience. We use the highest quality materials and all of our workers are trained certified installers using the strictest guidelines set forth by our manufacturers’ standards and our own quality controls. Each home is prepped and protected prior to stripping. And the grounds are thoroughly cleaned with a magnetic nail sweeper.
        </p>
    </div>
    <div class="content-section">
        <h3>Products &amp; Services</h3>
        <ul class="products-list">
            <li>Roofing shingles &mdash; all styles and brands</li>
            <li>Low-slope rubber roofing</li>
            <li>Ice dam protection</li>
            <li>Ventilation</li>
            <li>Gutters and gutter protection</li>
            <li>Skylight installation</li>
            <li>Chimney restoration</li>
            <li>Rubber roof installation</li>
        </ul>
    </div>
</section>


<section id="ice-dams">
    <div class="content-section row">
        <div class="nine columns">
            <h2>Ice Dams</h2>
            <p>
                Ice dams are formed when heat from the inside of a home escapes into the attic and warms the roof decking during the winter. This heat, combined with heat from the sun, can melt snow on the roof. Melting snow on the upper roof and in the valleys then runs down toward the eaves as water. When it reaches the cold eaves and gutters it refreezes. The continual thaw and re-freeze process creates ice dams. The result is water backing up under the roof shingles or behind fascia boards where it can soak through the roof decking or wall sheathing, causing damage to attics, ceilings and walls.
            </p>
            <p>
            Pratt &amp; Son is a certified roofing company and ventilation and insulation specialist. We provide expert repair service. If you need repair due to ice dams, <a href="#site-contact">Contact Us</a> right away for a free consultation.
            </p>
        </div>
        <div class="three columns">
            <img src="/img/ice_dams/ice_dam_diagram.jpg" alt="Typical ice dam formation" class="content-image" />
            <span class="content-image-caption">Typical Ice Dam Formation </span>
        </div>
    </div>
    <div class="content-section">
        <h3>Temporary Solution &mdash; Stop Leaking to Protect Your Interior</h3>
        <ul class="products-list">
            <li>Visual inspection inside and out</li>
            <li>Apply chemicals to accelerate melting</li>
            <li>Remove ice dam where needd without damaging shingles</li>
            <li>Remove portion of snow above ice dam without damaging shingles</li>
            <li>Remove trapped water to drain off roof and stop water leak</li>
        </ul>
    </div>
    <div class="content-section">
        <h3>Permanent Solution &mdash; Avoid Future Ice Dam Leaks</h3>
        <ul class="products-list">
            <li>Calculate and install proper ventilation</li>
            <li>Measure and install sufficient insulation</li>
            <li>Apply ice and water barrier</li>
            <li>Inspect and seal other potential entry points</li>
            <li>Check for excessive moisture and condensation</li>
        </ul>
    </div>

    <div class="content-section">
        <h3>Testimonials</h3>
        <blockquote>
            "We were very satisfied with the roofing job and were impressed by the professionalism of the operation."
            <footer>&mdash; Charles, Roslindale</footer>
        </blockquote>
        <blockquote>
            "I would like to thank you and the crew for the great job on our roof. Both my wife and I were pleased with the performance of the workers. Not only were they very courteous, but they did a good job of cleaning the work area."
            <footer>&mdash; Sumner, Walpole</footer>
        </blockquote>
        <blockquote>
            "We are very pleased with the new roof that your company has installed at the Church of St. Mark. It looks beautiful and I was able to see that it was installed in a manner that speaks well for Pratt &amp; Son."
            <footer>&mdash; St. Mark's Episcopal Church, Burlington</footer>
        </blockquote>
    </div>
</section>
