---
layout: page
page_name: siding
description: Pratt and Son is a CertainTeed Vinyl Siding and Trim 5-Star contractor and a Vinyl Siding Institute certified installer
location: Eastern MA
---
<section id="siding">
    <div class="content-section">
        <h1>Siding Contractor in {% if page.location %}{{ page.location }}{% else %}{{ layout.location }}{% endif %}</h1>
        <p>
        We offer the most current vinyl siding products on the market today. All of our workers are factory trained certified professional installers. We are a CertainTeed Vinyl Siding and Trim 5-Star contractor and a Vinyl Siding Institute certified installer. We offer quality, value, and service. Each home is custom designed to preserve the original character and detail.
        </p>
        <p>
        How much is vinyl siding? Each project is unique. The cost of vinyl siding is well worth the protection it provides for your property, commercial or residential. <a href="#site-contact" >Contact us</a> for a free consultation today.
        </p>
    </div>
    <div class="content-section row">
        <div class="six columns">
            <h3>Products</h3>
            <ul class="products-list">
                <li>Traditional clapboard vinyl siding</li>
                <li>Vinyl cedar shingles</li>
                <li>Exclusive insulated vinyl siding (Cedar Ridge)</li>
                <li>Custom aluminum trim</li>
                <li>Lifetime PVC trim and Azek mouldings</li>
            </ul>
        </div>
        <div class="six columns">
            <h3>Brands</h3>
            <ul class="products-list">
                <li>Alcoa</li>
                <li>CertainTeed</li>
                <li>Mastic</li>
                <li>Gentek</li>
                <li>Wolverine</li>
                <li>Alside</li>
            </ul>
        </div>
    </div>
    <div class="content-section">
        <h3>Exclusive Cedar Ridge Dealer</h3>
        <p>
        Pratt &amp; Son is an exclusive dealer of Cedar Ridge Solid Core Siding. It delivers four times the insulating power of ordinary siding to save valuable energy dollars, keeping you warmer in the winter and cooler in the summer. Cedar Ridge offers these advantages over traditional vinyl siding:
        </p>
        <div class="row">
            <div class="six columns">
                <ul class="products-list">
                    <li>Cut utility bills drastically</li>
                    <li>Highest R-value, 4.0</li>
                    <li>300% stronger than standard siding</li>
                    <li>45% more sound resistant</li>
                    <li>Best warranty in the industry</li>
                    <li>Rated #1 in studies and magazines</li>
                    <li>30% less seams</li>
                    <li>Insect repellant backing</li>
                </ul>
            </div>
            <div class="six columns">
                <img id="cedar-impressions-image" src="/img/siding/cedar_impressions.jpg" alt="Clapboard Vinyl Siding with Cedar Impressions and Scallop Accents" class="content-image" />
                <span class="content-image-caption">Clapboard Vinyl Siding with Cedar Impressions and Scallop Accents</span>
            </div>
        </div>
        <p>
            Ask about our selection of exciting house siding colors. We have vinyl siding color ideas just for you.
        </p>
    </div>
    <div class="content-section">
        <h3>The Distinctive Look of Cedar Impressions</h3>
        <p>
            Cedar Impressions offers natural looking cedar shingle siding without the expense and heavy maintenance of wood. Cedar Impressions comes in a wide variety of styles and colors and has a lifetime limited warranty.
        </p>
    </div>
    <div class="content-section">
        <h3>Testimonials</h3>
        <blockquote>
            "I want to express my thanks at the fine professional job that your company did in the installation of the vinyl siding. I would certainly recommend your company to anyone who needed home remodeling work."
            <footer>&mdash; Catherine and Philip, Brockton</footer>
        </blockquote>
        <blockquote>
            "We would like to commend your company on doing an excellent job replacing the clapboarding on our old church. Now that the residing has been accomplished, everyone we have spoken to about it says that the Old Building never looked better. If anything, the siding has enhanced the classic look of the old architecture. The congregation was also impressed with how little your operation interfered with the business of the church and how neatly you left the grounds when done."
            <footer>First Baptist Church, Westwood</footer>
        </blockquote>
        <blockquote>
            "Please let me take a moment to thank you for an outstanding job on my new vinyl siding. My wife and I could not be happier with how it turned out."
            <footer>&mdash; Nuno, Melrose</footer>
        </blockquote>
    </div>
</section>
